<%=form_for @book do |f|%>
<%=f.label :title%>
<%=f.text_field :title%>
<%=f.label :author%>
<%=f.text_field :author%>
<%=f.label :image%>
<%=f.file_field :image%>
<%=f.submit "Submit"%>
<%end%>
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>