<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
	<meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
	<meta name="author" content="Codrops" />
	<title>Quovantis 	Library</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->
	<script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
</head>
<body>
	<img src="/assets/quovantis.png" class="quovantis">
	<span class='library'>
		<div class='logged'>
		</div>
	</span>
	<%= render 'layouts/header'%>
	<%if current_member%>
	<div id='main_body'>
	<% else %>
	<div id='main_body' class='login_page'>
	<% end %>
		<div class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
